@model FirstProjectV1.Models.Game
@{
    ViewData["Title"] = "Index";
}

    <div class="container" style="justify-content: center; display: flex; text-align: left; background-color:khaki; padding-top: 30px ">
        <div class="container font-weight-bold" style="justify-content:center;text-align:left; place-items:center ; width:100%">
            <h2 style="text-decoration:solid">Welcome</h2>

            <div class="container border border-primary" style="background-color:bisque ;margin:20px; margin-left:150px;
                   padding-bottom:40px ; width:70%; padding:40px; padding-bottom:100px">

                <h4 style="text-align:left ; text-decoration:solid">Login</h4>

                <div style="display:flex ; justify-content:space-between ; align-items:center ; margin-top:40px">
                    <label class="control-label">Email</label>
                    <input class="border border-primary" style="width:80% ; margin:20px ; padding:5px ; text-align:left; background-color:white; color:black">
                </div>

                <div style="display:flex ; justify-content:space-between ; align-items:center">
                    <label class="control-label">Password</label>
                    <input class="border border-primary" style="width:80% ; margin:20px ; padding:5px ; text-align:left; background-color:white; color:black">
                </div>

                <label class="text-body" style="margin:10px ; padding-top:10px ; margin-top:50px">Not Registered ?<a href="#"> Sign-up Here </a></label>

                <div style="display:flex ; justify-content:center ; padding-top:15px">
                    <div class="btn btn-primary" style="margin-right:50px; margin-top:30px ; padding:15px ; background-color:black">Login</div>
                    <div class="btn btn-secondary" style="margin-left:50px; margin-top: 30px; padding:15px">Cancel</div>
                </div>
            </div>

        </div>
    </div>


    <style>

    </style>