@model FirstProjectV1.Models.Game
@{
    ViewData["Title"] = "MainScreen";
}

<h1>MainScreen</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
</head>
<body>
    <div>
        <div class="form-control"></div>
    </div>
</body>
</html>
