@model FirstProjectV1.Models.Game
@{
    ViewData["Title"] = "Print";
}

<h1>Name : @Model.Name</h1>
<h2>Rating = @Model.Rating</h2>
<h1>INDEX</h1>

<div class="first">
    <p> FIRST PROJECT TEST</p>
</div>

<div class="container-fluid border border-primary">
    zero
    <div class="container border border-primary">One
        <div class="container border border-primary">one point one
        </div>
    </div>
    <div class="container border border-primary">Two </div>
</div>

<br />

<table  border="1"  width="100%">
    <tr>
        <td>first</td>
        <td>second</td>
        <td>Third</td>
    </tr>

    <tr>
        <td class="col-sm-6"> first one</td>
        <td class=" col-1"> second one</td>
        <td class="col"> third one</td>
    </tr>
</table>

<div class="container img-fluid border border-secondary">
    pic
</div>



