
@{
    ViewData["Title"] = "Signup";
}

<div class="container" style="justify-content: center; display: flex; text-align: left; background-color:khaki; padding-top: 30px ">
    <div class="container font-weight-bold" style="justify-content:center;text-align:left; place-items:center ; width:100%">
        <h2 style="text-decoration:solid">Welcome</h2>

        <div class="container border border-primary" style="background-color:bisque ;margin:20px; margin-left:150px;
                   padding-bottom:40px ; width:70%; padding:40px; padding-bottom:100px">

            <h4 style=" text-align:left ; text-decoration:solid">Sign up</h4>

            <div style="display: flex; justify-content: space-between; align-items: center; margin-top:40px">
                <label class="control-label">Username</label>
                <input class="border border-primary" style="width: 70%; margin: 20px; padding: 5px; text-align: left; background-color: white; color: black">
            </div>

            <div style="display:flex ; justify-content:space-between ; align-items:center">
                <label class="control-label">Email</label>
                <input class="border border-primary" style="width: 70%; margin: 20px; padding: 5px; text-align: left; background-color: white; color: black ">
            </div>

            <div style="display:flex ; justify-content:space-between ; align-items:center">
                <label class="control-label">Password</label>
                <input class="border border-primary" style="width: 70%; margin: 20px; padding: 5px; text-align: left; background-color: white; color: black ">
            </div>

            <div style="display:flex ; justify-content:space-between ; align-items:center">
                <label class="control-label">Confirm Password</label>
                <input class="border border-primary" style="width: 70%; margin: 20px; padding: 5px; text-align: left; background-color: white; color: black ">
            </div>

            <div style="display:flex ; justify-content:center ; padding-top:15px">
                <div class="btn btn-primary" style="margin-right:50px; margin-top:30px ; padding:15px ; background-color:black">Create</div>
                <div class="btn btn-secondary" style="margin-left:50px; margin-top: 30px; padding:15px">Cancel</div>
            </div>

        </div>
    </div>
</div>